body{
    background-image: url("back1.jpg");
    background-size: cover;
}

#title{
    font-family: Arial;
    text-align: center;
    margin-top: 100px
}
#imdb{
    font-family: Arial;
    text-align: center;
}
#genres{
    font-family: Arial;
    text-align: center;
}
#poster{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#block {
    /*border-radius: 50px;*/
    position: absolute;
    /*background: #cccccc;*/
    margin: auto;
    top: 550px;
    right: 0;
    bottom: 0;
    left: 0;
    /*border: 10px solid lightskyblue;*/
    height: 50px;
    width: 200px;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    text-align: center;
}
#text{
    font-size: 30px;
    font-variant: small-caps;
}
#sub{
    background-color: lightgrey;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 20px;
    font-variant: small-caps;
    box-shadow: 0 5px #999;
}

#sub:hover{
    background-color: #c6c6c6;
}

#sub:active{
    box-shadow: 0 5px #666;
    background-color: #c6c6c6;
    transform: translateY(4px);
}