body{
    background-image: url("back1.jpg");
}

option{
    color: red;
    font-weight: normal;
}
.ratings{
    display: block;
    padding: 20px;
    margin: auto;
    margin-left: 50px;
    margin-bottom: -000px;
    margin-top: 35px;
    width: 300px;
    align-items: center;
    font-family: Arial;
}

#submit_button{
    background-color: lightgrey;
    border-radius: 30px;
    padding: 40px 60px;
    font-size: 40px;
    font-variant: small-caps;
    box-shadow: 0 5px #999;
}
#submit_button:hover{
    background-color: #c6c6c6;
}
#submit_button:active{
    background-color: #c6c6c6;
}

.styled_select{
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled_select select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

#popularity{
    margin: auto;
    margin-left: 70px;
    margin-bottom: -000px;
    margin-top: 50px;
    width: 300px;
    font-family: Arial;
}

#genres{
    margin: auto;
    margin-left: 540px;
    margin-right: 0px;
    margin-bottom: 500px;
    margin-top: -430px;
    width: 250px;
    font-family: Arial;
}

#years{
    margin-left: 70px;
    font-family: Arial;
}

#butt{
    margin-top: -750px;
    margin-left: 900px;
    font-family: Arial;
}
.choice{
    margin-right: 10px
}
.choice2{
    margin-right: 5px
}