/*body{*/
    /*background-image: url("anime.jpg");*/
    /*background-size: cover;*/
    /*padding: 10px;*/
    /*margin: 5px;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/*input[type=text]{*/
    /*box-sizing: border-box;*/
    /*margin: 20px;*/
    /*border: 4px solid #ccc;*/
    /*font-size: 18px;*/
    /*background-color: white;*/
    /*background-image: url('search1.png');*/
    /*background-repeat: no-repeat;*/
    /*background-size: 40px 40px;*/
    /*background-position: left;*/
    /*padding: 10px 50px 12px 40px;*/
    /*border-radius: 30px;*/
/*}*/

/*input[type=text]:focus {*/
  /*border: 3px solid #555;*/
/*}*/

/*#block {*/
    /*border-radius: 50px;*/
    /*position: absolute;*/
    /*background: #cccccc;*/
    /*margin: auto;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 200px;*/
    /*left: 0;*/
    /*border: 10px solid lightskyblue;*/
    /*height: 300px;*/
    /*width: 400px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
/*}*/

/*#text{*/
    /*font-size: 30px;*/
    /*font-variant: small-caps;*/
/*}*/

/*#sub{*/
    /*background-color: lightskyblue;*/
    /*border-radius: 10px;*/
    /*padding: 15px 25px;*/
    /*font-size: 20px;*/
    /*font-variant: small-caps;*/
    /*box-shadow: 0 5px #999;*/
/*}*/

/*#sub:hover{*/
    /*background-color: lightsteelblue;*/
/*}*/

/*#sub:active{*/
    /*box-shadow: 0 5px #666;*/
    /*background-color: lightsteelblue;*/
    /*transform: translateY(4px);*/
/*}*/
body{
    background-image: url("back1.jpg");
}

option{
    color: red;
    font-weight: normal;
}
.ratings{
    display: block;
    padding: 20px;
    margin: auto;
    margin-left: 50px;
    margin-bottom: -000px;
    margin-top: 35px;
    width: 300px;
    /*border-style: solid;*/
    /*border-width: medium;*/
    align-items: center;
    font-family: Arial;
}

#submit_button{
    background-color: lightgrey;
    border-radius: 30px;
    padding: 40px 60px;
    font-size: 40px;
    font-variant: small-caps;
    box-shadow: 0 5px #999;
}
#submit_button:hover{
    background-color: #c6c6c6;
}
#submit_button:active{
    background-color: #c6c6c6;
}

.styled_select{
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
    /*position: center;*/
}

.styled_select select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

#popularity{
    margin: auto;
    margin-left: 70px;
    margin-bottom: -000px;
    margin-top: 50px;
    width: 300px;
    font-family: Arial;
}

#genres{
    margin: auto;
    margin-left: 540px;
    margin-right: 0px;
    margin-bottom: 500px;
    margin-top: -430px;
    width: 250px;
    font-family: Arial;
}

#years{
    margin-left: 70px;
    font-family: Arial;
}

#butt{
    /*margin: auto;*/
    margin-top: -750px;
    margin-left: 900px;
    font-family: Arial;
}
.choice{
    margin-right: 10px
}
.choice2{
    margin-right: 5px
}