<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=stylesheet type=text/css href="../static/styles.css">
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>

<form action="" method="post">
    <div id="years">
        <h1>Choose a year</h1>
    <select name="year">
        <option value='year_1960'>1960</option>
        <option value='year_1961'>1961</option>
        <option value='year_1962'>1962</option>
        <option value='year_1963'>1963</option>
        <option value='year_1964'>1964</option>
        <option value='year_1965'>1965</option>
        <option value='year_1966'>1966</option>
        <option value='year_1967'>1967</option>
        <option value='year_1968'>1968</option>
        <option value='year_1969'>1969</option>
        <option value='year_1970'>1970</option>
        <option value='year_1971'>1971</option>
        <option value='year_1972'>1972</option>
        <option value='year_1973'>1973</option>
        <option value='year_1974'>1974</option>
        <option value='year_1975'>1975</option>
        <option value='year_1976'>1976</option>
        <option value='year_1977'>1977</option>
        <option value='year_1978'>1978</option>
        <option value='year_1979'>1979</option>
        <option value='year_1980'>1980</option>
        <option value='year_1981'>1981</option>
        <option value='year_1982'>1982</option>
        <option value='year_1983'>1983</option>
        <option value='year_1984'>1984</option>
        <option value='year_1985'>1985</option>
        <option value='year_1986'>1986</option>
        <option value='year_1987'>1987</option>
        <option value='year_1988'>1988</option>
        <option value='year_1989'>1989</option>
        <option value='year_1990'>1990</option>
        <option value='year_1991'>1991</option>
        <option value='year_1992'>1992</option>
        <option value='year_1993'>1993</option>
        <option value='year_1994'>1994</option>
        <option value='year_1995'>1995</option>
        <option value='year_1996'>1996</option>
        <option value='year_1997'>1997</option>
        <option value='year_1998'>1998</option>
        <option value='year_1999'>1999</option>
        <option value='year_2000'>2000</option>
        <option value='year_2001'>2001</option>
        <option value='year_2002'>2002</option>
        <option value='year_2003'>2003</option>
        <option value='year_2004'>2004</option>
        <option value='year_2005'>2005</option>
        <option value='year_2006'>2006</option>
        <option value='year_2007'>2007</option>
        <option value='year_2008'>2008</option>
        <option value='year_2009'>2009</option>
        <option value='year_2010'>2010</option>
        <option value='year_2011'>2011</option>
        <option value='year_2012'>2012</option>
        <option value='year_2013'>2013</option>
        <option value='year_2014'>2014</option>
        <option value='year_2015'>2015</option>
        <option value='year_2016'>2016</option>
        <option value='year_2017'>2017</option>
    </select>
    </div>

    <div id="ratings">
        <h1>Choose a rating</h1>
    5-<input type="radio" id="rat1" name="radio-group" value="5-">
    5+<input type="radio" id="rat2" name="radio-group" value="5+">
    6+<input type="radio" id="rat3" name="radio-group" value="6+">
    7+<input type="radio" id="rat4" name="radio-group" value="7+">
    8+<input type="radio" id="rat5" name="radio-group" value="8+">
    9+<input type="radio" id="rat6" name="radio-group" value="9+">
    </div>

    <div id="genres">
        <h1>Choose your favourite genres</h1>
        <input type='checkbox' name='genre' value='Musical'>Musical<br>
        <input type='checkbox' name='genre' value='Documentary'>Documentary<br>
        <input type='checkbox' name='genre' value='Animation'>Animation<br>
        <input type='checkbox' name='genre' value='Horror'>Horror<br>
        <input type='checkbox' name='genre' value='Fantasy'>Fantasy<br>
        <input type='checkbox' name='genre' value='Action'>Action<br>
        <input type='checkbox' name='genre' value='Children'>Children<br>
        <input type='checkbox' name='genre' value='Adventure'>Adventure<br>
        <input type='checkbox' name='genre' value='Sci-Fi'>Sci-Fi<br>
        <input type='checkbox' name='genre' value='Drama'>Drama<br>
        <input type='checkbox' name='genre' value='Western'>Western<br>
        <input type='checkbox' name='genre' value='War'>War<br>
        <input type='checkbox' name='genre' value='Comedy'>Comedy<br>
        <input type='checkbox' name='genre' value='Crime'>Crime<br>
        <input type='checkbox' name='genre' value='Romance'>Romance<br>
        <input type='checkbox' name='genre' value='Mystery'>Mystery<br>
        <input type='checkbox' name='genre' value='Thriller'>Thriller<br>

    </div>


        <!--<input type="submit" value="Submit">-->
</form>


<!--<div id="block">-->
    <!--<form action="" method="post">-->
     <!--<p id="text">Enter your mesht</p>-->
    <!--<br/>-->
        <!--<input type="text" placeholder="Type..." name="username"><br>-->
    <!--<input type="submit" value="Submit" id="sub">-->
    <!--</form>-->
<!--</div>-->


</body>
</html>