<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=stylesheet type=text/css href="../static/mov.css">
    <meta charset="UTF-8">
    <title>Your movie</title>
</head>
<body>
<h1>{{ info.name }} ({{info.year}})</h1>
<p>IMDb score: {{info.rating}} ({{info.votes}} votes)</p>
<p>{{info.genres}}</p>
<img src="{{info.poster}}">
<div id="block">
    <form action= "" method="post" id="form1">
    </form>
    <button type="submit" form="form1" value="Submit" id="sub">Go back</button>
</div>
</body>
</html>