<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=stylesheet type=text/css href="../static/mov.css">
    <meta charset="UTF-8">
    <title>Your movie</title>
</head>
<body>
<h1 id="title">{{ info.name }} ({{info.year}})</h1>
<h2 id="imdb">IMDb score: {{info.rating}} ({{info.votes}} votes)</h2>
<h2 id="genres">{{info.genres}}</h2>
<img src="{{info.poster}}" id="poster">
<div id="block">
    <form action= "" method="post" id="form1">
    </form>
    <button type="submit" form="form1" value="Submit" id="sub">Go back</button>
</div>
</body>
</html>